<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/static/css/globals.css" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style2.css" />
    <title>Авторизация</title>
</head>
<body>

<nav class="nav-bar">
    <div class="logo">
        <img src="/static/img/logo.png" alt="Нет логотипа(" />
        <a th:href="@{/home}">ПРОГРЕССБАНК</a>
    </div>
    <div class="nav-items">
        <a th:href="@{/home}">Главная</a>
        <a href="#">Подразделения и банкоматы</a>
        <a href="#">Помощь</a>
        <a href="#">Контакты</a>
    </div>
</nav>
<div class="main-form">
    <h1>Авторизация</h1>
<div class="form">
<form method="post" action="/procces_login">
    <span>Введите ваш логин</span>
    <input type="text"  class="form-control" name="username" id="username">
<br>
<br>
    <span>Введите ваш пароль</span>
    <input type="password"  class="form-control" name="password" id="password">
<br>
    <button class="button-f">Войти </button>
<hr>
</form>
</div>
    <a th:href="@{/reg}">Нет аккаунта? Зарегистрируйтесь</a>
</div>
<footer class="footer">
    <div class="footer-container">
        <div class="social-container">
            <img src="/static/img/icon-facebook.svg" alt="" />
            <img src="/static/img/icon-instagram.svg" alt="" />
            <img src="/static/img/icon-twitter.svg" alt="" />
            <img src="/static/img/icon-pinterest.svg" alt="" />
        </div>
        <div class="menu">
            <a href="#">Про нас</a>
            <a href="#">Свяжитесь с нами</a>
            <a href="#">Блог</a>
        </div>
    </div>
</footer>
</body>
</html>
