<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/css/globals.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
</head>
<body>

<div class="frame">
    <img class="image" src="/static/img/image-1.png" />
    <div class="div">
        <div class="overlap">
            <div class="text-wrapper">ПрогрессБанк</div>
            <img
                    class="kisspng-line-chart"
                    src="/static/img/logo.png"
            />
        </div>
        <div class="overlap-group">
            <div class="rectangle">
                <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
                <div class="login">
                    <h2 > Авторизация </h2>
                    <form style="position: absolute; left: 50%; top: 30%; transform: translate(-50%, -50%);" th:method="POST" th:action="@{/auth}" th:object="${user}">
                        <input type="text" th:field="*{login}" class="text" name="username">
                        <span>Введите ваш логин</span>
                        <br>
                        <br>
                        <input type="password" th:field="*{password}" class="text" name="password">
                        <span>Введите ваш пароль</span>
                        <br>
                        <button class="signin">
                            Войти
                        </button>
                        <hr>
                        <a href="#">Забыли пароль?</a>
                    </form>
                </div>
            </div>
        </div>

        <a href="mailto:callcenter@belinvestbank.by" target="_blank" rel="noopener noreferrer"
        ></a>
        <p class="element">
            <a href="tel:146" target="_blank" rel="noopener noreferrer"
            ><span class="span"><br /></span
            ></a>
            <span class="text-wrapper-8">+375 (17) 255-55-55</span>
        </p>
    </div>
</div>

    <a href="mailto:callcenter@belinvestbank.by" target="_blank" rel="noopener noreferrer"
    ><div class="text-wrapper-7">callcenter@progressBank.by</div></a
    >
    <p class="element">
        <a href="tel:146" target="_blank" rel="noopener noreferrer"
        ><span class="span"><br /></span
        ></a>
        <span class="text-wrapper-8">+375 (17) 255-55-55</span>
    </p>
</div>
</body>
</html>
