<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/static/css/globals.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
</head>
<body>
<div class="screen">
    <div class="overlap-group-wrapper">
        <div class="overlap-group">
            <img class="image" src="/static/img/image-1.png" />
            <img
                    class="logo"
                    src="/static/img/logo.png"
            />
            <div class="rectangle"></div>
            <div class="text-wrapper">ПрогрессБанк</div>
            <a class="div">Подразделения и банкоматы</a>
            <a class="text-wrapper-2">Помощь</a>
            <a class="text-wrapper-3">Контакты</a>
            <div class="text-wrapper-4">Приветствуем вас в Интернет-банкинге!</div>
            <img class="img" src="/static/img/rectangle-4.png" />
            <a class="text-wrapper-5" href="/reg">Регистрация</a>
            <div class="rectangle-2"></div>
            <a class="text-wrapper-6" href="/auth">Войти</a>
            <p class="p">
                Интернет-банкинг позволяет дистанционно совершать платежи, переводы, управлять своими финансами.
            </p>
            <img class="iconvk" src="img/iconvk-1.svg" />
            <img class="icontwitter" src="img/icontwitter-1.svg" />
            <a href="mailto:callcenter@belinvestbank.by" target="_blank" rel="noopener noreferrer"
            ><div class="text-wrapper-7">callcenter@progressBank.by</div></a
            >
            <img class="vector" src="img/vector-1.svg" />
            <img class="vector-2" src="img/vector.svg" />
        </div>
    </div>
</div>
</body>
</html>

