<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css" />
    <title>Регистрация</title>
</head>
<body>

<nav class="nav-bar">
    <div class="logo">
        <img src="/static/img/logo.png" alt="Нет логотипа(" />
        <a th:href="@{/home}">ПРОГРЕССБАНК</a>
    </div>
    <div class="nav-items">
        <a class="navigation" th:href="@{/home}">Главная</a>
        <a class="navigation" th:href="@{/banks}">Подразделения и банкоматы</a>
        <a class="navigation" th:href="@{/help}">Помощь</a>
        <a class="navigation" th:href="@{/cont}">Контакты</a>
    </div>
</nav>
<div class="main-form2">
<h2> Регистрация </h2>
<div class="form2">
<form method="post" th:action="@{/reg}" th:object="${reg}">
    <div class="form2sp">
    <span>Придумайте себе логин</span>
    <input type ="text" th:field="*{login}" class="form-control" name="username">
    </div>
    <div style="color: red" th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></div>
    <div class="form2sp">
    <span>Придумайте себе пароль</span>
    <input type="password" th:field="*{password}" class="form-control" name="password">
    </div>
    <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
    <div class="form2sp">
    <span>Введите ваше ФИО</span>
    <input type="text" th:field="*{fio}" class="form-control" name="fio">
    </div>
    <div style="color: red" th:if="${#fields.hasErrors('fio')}" th:errors="*{fio}"></div>
    <span>Введите ваш email:</span>
    <input type="text" th:field="*{email}" class="form-control" name="email">
    <br>
    <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
    <button class="button-reg">
        Регистрация
    </button>
</form>
    <hr>
</div>
<a th:href="@{/auth}">Уже есть аккаунт? Войдите</a>
</div>
<div th:if="${successMessage}" class="alert alert-success">
    <p th:text="${successMessage}"></p>
</div>

<div th:if="${errorMessage}" class="alert alert-danger">
    <p th:text="${errorMessage}"></p>
</div>
<footer class="footer">
    <div class="footer-container">
        <div class="social-container">
            <a href="https://www.facebook.com/myprogressbank/"> <img src="/static/img/icon-facebook.svg" alt="" /> </a>
            <a href="https://www.instagram.com/progressbank/"> <img src="/static/img/icon-instagram.svg" alt="" /> </a>
            <a href="https://twitter.com/progressbank?lang=ca"> <img src="/static/img/icon-twitter.svg" alt="" /> </a>
            <a href="https://www.pinterest.com/pin/1147151336315591346/"> <img src="/static/img/icon-pinterest.svg" alt="" /> </a>
        </div>
        <div class="menu">
            <a href="https://www.instagram.com/progressbank/" class="navigation" >Про нас</a>
            <a href="https://www.facebook.com/myprogressbank/" class="navigation" >Свяжитесь с нами</a>
            <a href="https://twitter.com/progressbank?lang=ca" class="navigation" >Блог</a>
        </div>
    </div>
</footer>
</body>
</html>


