<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/static/css/globals.css" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style2.css" />
    <title>Регистрация</title>
</head>
<body>

<nav class="nav-bar">
    <!--    <img src="/static/img/logo.png" alt="Нет логотипа(" />-->
    <span>ПРОГРЕССБАНК</span>
    <div class="nav-items">
        <a href="#">Главная</a>
        <a href="#">Подразделения и банкоматы</a>
        <a href="#">Помощь</a>
        <a href="#">Контакты</a>
    </div>
</nav>
<div class="main-form2">
<h2 > Регистрация </h2>
<div class="form2">
<form method="post" th:action="@{/reg}" th:object="${reg}">
    <span>Придумайте себе логин</span>
    <input type ="text" th:field="*{login}" class="form-control" name="username">
    <br>
    <div style="color: red" th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></div>
    <br>
    <span>Придумайте себе пароль</span>
    <input type="password" th:field="*{password}" class="form-control" name="password">
    <br>
    <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
    <br>
    <span>Введите ваше ФИО</span>
    <input type="text" th:field="*{fio}" class="form-control" name="fio">
    <br>
    <div style="color: red" th:if="${#fields.hasErrors('fio')}" th:errors="*{fio}"></div>
    <br>
    <span>Введите ваш email:</span>
    <input type="text" th:field="*{email}" class="form-control" name="email">
    <br>
    <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
    <button class="button-reg">
        Регистрация
    </button>
</form>
</div>
</div>
<div th:if="${successMessage}" class="alert alert-success">
    <p th:text="${successMessage}"></p>
</div>

<div th:if="${errorMessage}" class="alert alert-danger">
    <p th:text="${errorMessage}"></p>
</div>
<footer class="footer">
    <div class="footer-container">
        <div class="social-container">
            <img src="/static/img/icon-facebook.svg" alt="" />
            <img src="/static/img/icon-instagram.svg" alt="" />
            <img src="/static/img/icon-twitter.svg" alt="" />
            <img src="/static/img/icon-pinterest.svg" alt="" />
        </div>
        <div class="menu">
            <a href="#">Про нас</a>
            <a href="#">Свяжитесь с нами</a>
            <a href="#">Блог</a>
        </div>
    </div>
</footer>
</body>
</html>

<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--    <link rel="stylesheet" th:href="@{/static/css/style.css}" type="text/css"/>-->
<!--    <link rel="stylesheet" th:href="@{/static/css/style.css}" type="text/css"/>-->
<!--</head>-->
<!--<body>-->
<!--<div class="frame">-->
<!--    <div class="div">-->
<!--        <div class="overlap">-->
<!--            <div class="text-wrapper">ПрогрессБанк</div>-->
<!--            <img-->
<!--                    class="kisspng-line-chart"-->
<!--                    src="/img/logo.png"-->
<!--            />-->
<!--        </div>-->
<!--        <div class="overlap-group">-->
<!--            <div >-->
<!--                <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>-->
<!--                <div class="login">-->
<!--                    <h2 > Регистрация </h2>-->
<!--                    <form method="post" th:action="@{/reg}" th:object="${reg}">-->
<!--                        <input type ="text" th:field="*{user.login}" class="text" name="username">-->
<!--                        <span>Придумайте себе логин</span>-->
<!--                        <br>`-->
<!--                        <br>-->
<!--                        <input type="password" th:field="*{user.password}" class="text" name="password">-->
<!--                        <span>Придумайте себе пароль</span>-->
<!--                        <br>-->
<!--                        <br>-->
<!--                        <input type="text" th:field="*{customer.fio}" class="text" name="fio">-->
<!--                        <span>Введите ваше ФИО</span>-->
<!--                        <br>-->
<!--                        <br>-->
<!--                        <input type="text" th:field="*{customer.email}" class="text" name="email">-->
<!--                        <span>Введите ваш email:</span>-->
<!--                        <br>-->
<!--                        <button class="signin">-->
<!--                            Регистрация-->
<!--                        </button>-->
<!--                        <hr>-->
<!--                        <a href="#">Forgot Password?</a>-->
<!--                    </form>-->

<!--                </div>-->
<!--            </div>-->
<!--            <div class="text-wrapper-5">Забыли пароль?</div>-->
<!--            <div class="text-wrapper-6">Регистрация</div>-->
<!--            <img class="image" src="/img/image-1.png" />-->


<!--        <a href="mailto:callcenter@belinvestbank.by" target="_blank" rel="noopener noreferrer"-->
<!--        ><div class="text-wrapper-7">callcenter@progressBank.by</div></a-->
<!--        >-->
<!--        <p class="element">-->
<!--            <a href="tel:146" target="_blank" rel="noopener noreferrer"-->
<!--            ><span class="span"><br /></span-->
<!--            ></a>-->
<!--            <span class="text-wrapper-8">+375 (17) 255-55-55</span>-->
<!--        </p>-->
<!--    </div>-->
<!--    </div>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->

