<!DOCTYPE html>
<html lang="rus">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/static/css/style2.css"/>
    <title>ПрогрессБанк</title>
</head>
<body>
<nav class="nav-bar">
    <div class="logo">
        <img src="/static/img/logo.png" alt="Нет логотипа("/>
        <a th:href="@{/home}">ПРОГРЕССБАНК</a>
    </div>
    <div class="nav-items">
        <a class="navigation" th:href="@{/home}">Главная</a>
        <a class="navigation" th:href="@{/banks}">Подразделения и банкоматы</a>
        <a class="navigation" th:href="@{/help}">Помощь</a>
        <a class="navigation" th:href="@{/cont}">Контакты</a>
    </div>
</nav>

<div class="mapinfo">
    <div class="child">
        <div class="map">
            <div style="position:relative;overflow:hidden;"><a
                    href="https://yandex.by/maps/157/minsk/search/%D0%91%D0%B5%D0%BB%D0%B0%D1%80%D1%83%D1%81%D0%B1%D0%B0%D0%BD%D0%BA%2C%20%D0%BE%D1%82%D0%B4%D0%B5%D0%BB%D0%B5%D0%BD%D0%B8%D1%8F/?utm_medium=mapframe&utm_source=maps"
                    style="color:#eee;font-size:12px;position:absolute;top:0px;">Беларусбанк, отделения в Минске</a><a
                    href="https://yandex.by/maps/157/minsk/?utm_medium=mapframe&utm_source=maps"
                    style="color:#eee;font-size:12px;position:absolute;top:14px;">Минск</a>
                <iframe src="https://yandex.by/map-widget/v1/?display-text=%D0%91%D0%B5%D0%BB%D0%B0%D1%80%D1%83%D1%81%D0%B1%D0%B0%D0%BD%D0%BA%2C%20%D0%BE%D1%82%D0%B4%D0%B5%D0%BB%D0%B5%D0%BD%D0%B8%D1%8F&ll=27.555691%2C53.902735&mode=search&sll=27.555691%2C53.902735&sspn=0.361176%2C0.119011&text=%7B%22text%22%3A%22%D0%91%D0%B5%D0%BB%D0%B0%D1%80%D1%83%D1%81%D0%B1%D0%B0%D0%BD%D0%BA%2C%20%D0%BE%D1%82%D0%B4%D0%B5%D0%BB%D0%B5%D0%BD%D0%B8%D1%8F%22%2C%22what%22%3A%5B%7B%22attr_name%22%3A%22chain_id%22%2C%22attr_values%22%3A%5B%221916200231%22%5D%7D%5D%7D&z=12"
                        width="560" height="400" frameborder="1" allowfullscreen="true"
                        style="position:relative;"></iframe>
            </div>
        </div>
    </div>
    <div class="child">
        <h1 style="text-align: center">Где нас найти? </h1>
    </div>
</div>
<footer class="footer">
    <div class="footer-container">
        <div class="social-container">
            <a href="https://www.facebook.com/myprogressbank/"> <img src="/static/img/icon-facebook.svg" alt="" /> </a>
            <a href="https://www.instagram.com/progressbank/"> <img src="/static/img/icon-instagram.svg" alt="" /> </a>
            <a href="https://twitter.com/progressbank?lang=ca"> <img src="/static/img/icon-twitter.svg" alt="" /> </a>
            <a href="https://www.pinterest.com/pin/1147151336315591346/"> <img src="/static/img/icon-pinterest.svg" alt="" /> </a>
        </div>
        <div class="menu">
            <a class="navigation" href="#">Про нас</a>
            <a class="navigation" href="#">Свяжитесь с нами</a>
            <a class="navigation" href="#">Блог</a>
        </div>
    </div>
</footer>
</body>
</html>
