<!DOCTYPE html>
<html lang="rus">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/style2.css" />
    <style>

        .help-content {
            max-width: 800px;
            margin: 20px auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1, h2 {
            color: #31D35CFF;
        }

        h2 {
            margin-top: 20px;
        }

        p {
            color: #555;
            line-height: 1.6;
            margin-bottom: 15px;
        }

    </style>
    <title>Помощь | ПрогрессБанк</title>
</head>
<body>
<nav class="nav-bar">
    <div class="logo">
        <img src="/static/img/logo.png" alt="Нет логотипа(" />
        <a th:href="@{/home}">ПРОГРЕССБАНК</a>
    </div>
    <div class="nav-items">
        <a class="navigation" th:href="@{/home}">Главная</a>
        <a class="navigation" th:href="@{/banks}">Подразделения и банкоматы</a>
        <a class="navigation" th:href="@{/help}">Помощь</a>
        <a class="navigation" th:href="@{/cont}">Контакты</a>
    </div>
</nav>

<div class="help-content">
    <h1>Помощь и поддержка</h1>
    <p>
        Мы готовы оказать вам квалифицированную помощь. Ниже представлена информация, которая может быть полезной в различных ситуациях.
    </p>

    <h2>Часто задаваемые вопросы</h2>
    <p>
        <strong>Вопрос:</strong> Как открыть новый счет?<br />
        <strong>Ответ:</strong> Для открытия нового счета свяжитесь с нашим отделением по телефону +7 (XXX) XXX-XX-XX.
    </p>
    <p>
        <strong>Вопрос:</strong> Как проверить баланс счета онлайн?<br />
        <strong>Ответ:</strong> Войдите в личный кабинет на нашем сайте и перейдите в раздел "Банковские счета".
    </p>

    <h2>Связаться с нами</h2>
    <p>
        Если у вас возникли проблемы или вопросы, свяжитесь с нашей службой поддержки по телефону +7 (XXX) XXX-XX-XX или по электронной почте support@progressbank.ru.
    </p>
</div>

<footer class="footer">
    <div class="footer-container">
        <div class="social-container">
            <a href="https://www.facebook.com/myprogressbank/"> <img src="/static/img/icon-facebook.svg" alt="" /> </a>
            <a href="https://www.instagram.com/progressbank/"> <img src="/static/img/icon-instagram.svg" alt="" /> </a>
            <a href="https://twitter.com/progressbank?lang=ca"> <img src="/static/img/icon-twitter.svg" alt="" /> </a>
            <a href="https://www.pinterest.com/pin/1147151336315591346/"> <img src="/static/img/icon-pinterest.svg" alt="" /> </a>
        </div>
        <div class="menu">
            <a class="navigation" href="#">Про нас</a>
            <a class="navigation" href="#">Свяжитесь с нами</a>
            <a class="navigation" href="#">Блог</a>
        </div>
    </div>
</footer>
</body>
</html>

<!--<!DOCTYPE html>-->
<!--<html lang="rus">-->
<!--<head>-->
<!--    <meta charset="UTF-8" />-->
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge" />-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0" />-->
<!--    <link rel="stylesheet" href="/static/css/style2.css" />-->
<!--    <title>Помощь | ПрогрессБанк</title>-->
<!--</head>-->
<!--<body>-->
<!--<nav class="nav-bar">-->
<!--    <div class="logo">-->
<!--        <img src="/static/img/logo.png" alt="Нет логотипа(" />-->
<!--        <a th:href="@{/home}">ПРОГРЕССБАНК</a>-->
<!--    </div>-->
<!--    <div class="nav-items">-->
<!--        <a class="navigation" th:href="@{/home}">Главная</a>-->
<!--        <a class="navigation" th:href="@{/banks}">Подразделения и банкоматы</a>-->
<!--        <a class="navigation" th:href="@{/help}">Помощь</a>-->
<!--        <a class="navigation" th:href="@{/cont}">Контакты</a>-->
<!--    </div>-->
<!--</nav>-->

<!--<div class="help-content">-->
<!--    <h1>Помощь и поддержка</h1>-->
<!--    <p>-->
<!--        Добро пожаловать в раздел "Помощь" ПрогрессБанка. Мы готовы предоставить вам всю необходимую информацию-->
<!--        и поддержку по услугам, предоставляемым нашим банком.-->
<!--    </p>-->

<!--    <h2>Часто задаваемые вопросы (FAQ)</h2>-->
<!--    <p>-->
<!--        <strong>1. Как открыть счет в ПрогрессБанке?</strong><br />-->
<!--        Для открытия счета свяжитесь с ближайшим отделением банка или воспользуйтесь онлайн-заявкой на нашем сайте.-->
<!--    </p>-->
<!--    <p>-->
<!--        <strong>2. Как погасить кредит досрочно?</strong><br />-->
<!--        Вы можете досрочно погасить кредит, обратившись в любое отделение ПрогрессБанка или через интернет-банк.-->
<!--    </p>-->

<!--    <h2>Свяжитесь с нами</h2>-->
<!--    <p>-->
<!--        Если у вас есть дополнительные вопросы или вам нужна дополнительная помощь, свяжитесь с нашей службой поддержки.-->
<!--    </p>-->
<!--    <p>-->
<!--        Телефон: +7 (XXX) XXX-XX-XX<br />-->
<!--        Электронная почта: support@progressbank.ru-->
<!--    </p>-->
<!--</div>-->

<!--<footer class="footer">-->
<!--    <div class="footer-container">-->
<!--        <div class="social-container">-->
<!--            <a href="https://www.facebook.com/myprogressbank/"> <img src="/static/img/icon-facebook.svg" alt="" /> </a>-->
<!--            <a href="https://www.instagram.com/progressbank/"> <img src="/static/img/icon-instagram.svg" alt="" /> </a>-->
<!--            <a href="https://twitter.com/progressbank?lang=ca"> <img src="/static/img/icon-twitter.svg" alt="" /> </a>-->
<!--            <a href="https://www.pinterest.com/pin/1147151336315591346/"> <img src="/static/img/icon-pinterest.svg" alt="" /> </a>-->
<!--        </div>-->
<!--        <div class="menu">-->
<!--            <a class="navigation" href="#">Про нас</a>-->
<!--            <a class="navigation" th:href="@{/contacts}">Свяжитесь с нами</a>-->
<!--            <a class="navigation" href="#">Блог</a>-->
<!--        </div>-->
<!--    </div>-->
<!--</footer>-->
<!--</body>-->
<!--</html>-->
