<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css"/>
    <title>Администратор</title>
</head>
<body>
<nav class="nav-bar">
    <div class="logo">
    <img src="/static/img/logo.png" alt="Нет логотипа(" />
        <a th:href="@{/home}">ПРОГРЕССБАНК</a>
    </div>
    <div class="nav-items">
        <a class="navigation" th:href="@{/admin}">Главная</a>
        <a class="navigation" th:href="@{/transactions/all}">Транзакции</a>
        <a class="navigation" th:href="@{/admin/applies}">Рассмотреть заявки</a>
        <a class="navigation" th:href="@{/logout}">Выход</a>
    </div>
</nav>

<div class="applies">
<h3>Заявки на регистрацию</h3>
</div>
<table style="margin-bottom: 12rem" class="table table-info table-striped">
    <thead class="head-dark">
    <tr>
        <th>ФИО</th>
        <th>Email</th>
        <th>Одобрить</th>
        <th>Удалить</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customerWithAccount : ${customersWithOutAccounts}">
        <td th:text="${customerWithAccount.fio}"></td>
        <td th:text="${customerWithAccount.email}"></td>
        <td>
            <form data-th-action="@{/admin/processRegistration}" th:method="POST">
                <input type="hidden" name="requestId" th:value="${customerWithAccount.id}" />
                <button class="btn btn-success" type="submit">Обработать заявку</button>
            </form>
        </td>
        <td>
            <form data-th-action="@{/admin/deleteAppliance}" th:method="POST">
                <input type="hidden" name="userId" th:value="${customerWithAccount.id}"/>
                <button style="border-radius: 2rem" class="btn btn-danger" type="submit">Удалить</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<footer class="footer">
    <div class="footer-container">
        <div class="social-container">
            <a href="https://www.facebook.com/myprogressbank/"> <img src="/static/img/icon-facebook.svg" alt="" /> </a>
            <a href="https://www.instagram.com/progressbank/"> <img src="/static/img/icon-instagram.svg" alt="" /> </a>
            <a href="https://twitter.com/progressbank?lang=ca"> <img src="/static/img/icon-twitter.svg" alt="" /> </a>
            <a href="https://www.pinterest.com/pin/1147151336315591346/"> <img src="/static/img/icon-pinterest.svg" alt="" /> </a>
        </div>
        <div class="menu">
            <a href="https://www.instagram.com/progressbank/" class="navigation" >Про нас</a>
            <a href="https://www.facebook.com/myprogressbank/" class="navigation" >Свяжитесь с нами</a>
            <a href="https://twitter.com/progressbank?lang=ca" class="navigation" >Блог</a>
        </div>
    </div>
</footer>
</body>
</html>

