<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/static/css/globals.css" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style2.css" />
    <title>Администратор</title>
</head>
<body>
<nav class="nav-bar">
    <!--    <img src="/static/img/logo.png" alt="Нет логотипа(" />-->
    <span>ПРОГРЕССБАНК</span>
    <div class="nav-items">
        <a th:href="@{/admin}">Главная</a>
        <a th:href="@{/admin/applies}">Рассмотреть заявки</a>
        <a th:href="@{/home}">Выход</a>
    </div>
</nav>

<div class="applies">
<h3>Заявки на регистрацию</h3>
</div>
<table class="table table-info table-striped">
    <thead class="head-dark">
    <tr>
        <th>ФИО</th>
        <th>Email</th>
        <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customerWithAccount : ${customersWithOutAccounts}">
        <td th:text="${customerWithAccount.fio}"></td>
        <td th:text="${customerWithAccount.email}"></td>
        <td>
            <form data-th-action="@{/admin/processRegistration}" th:method="POST">
                <input type="hidden" name="requestId" th:value="${customerWithAccount.id}" />
                <button class="btn btn-success" type="submit">Обработать заявку</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<footer class="footer">
    <div class="footer-container">
        <div class="social-container">
            <img src="/static/img/icon-facebook.svg" alt="" />
            <img src="/static/img/icon-instagram.svg" alt="" />
            <img src="/static/img/icon-twitter.svg" alt="" />
            <img src="/static/img/icon-pinterest.svg" alt="" />
        </div>
        <div class="menu">
            <a href="#">Про нас</a>
            <a href="#">Свяжитесь с нами</a>
            <a href="#">Блог</a>
        </div>
    </div>
</footer>
</body>
</html>

