<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/static/css/globals.css" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style2.css" />
    <title>Администратор</title>
</head>
<body>
<nav class="nav-bar">
    <!--    <img src="/static/img/logo.png" alt="Нет логотипа(" />-->
    <span>ПРОГРЕССБАНК</span>
    <div class="nav-items">
        <a href="#">Главная</a>
        <a href="#">Рассмотреть заявки</a>
        <a href="#">Помощь</a>
        <a href="#">Контакты</a>
    </div>
</nav>

    <div class="middle">
        <div class="container">
            <h2>Oбработать заявку</h2>
            <form action="/admin/save" method="post" th:object="${account}">
                <div class="form-group">
                    <label for="number">Введите номер счёта:</label>
                    <input type="number" class="form-control" th:field="${account.accountnumber}"  required id="number" placeholder="Введите номер" name="number">
                </div>
                <input type="hidden" th:if="${requestId}" th:value="${requestId}" name="requestId" />
                <div class="form-group">
                    <label for="balance">Введите начальный баланс:</label>
                    <input type="number" class="form-control" th:field="${account.balance}" required id="balance" placeholder="Введите баланс" name="balance">
                </div>
                <button type="submit" class="btn btn-primary">Подтвердить аккаунт</button>
            </form>
        </div>
    </div>
<footer class="footer">
    <div class="footer-container">
        <div class="social-container">
            <img src="/static/img/icon-facebook.svg" alt="" />
            <img src="/static/img/icon-instagram.svg" alt="" />
            <img src="/static/img/icon-twitter.svg" alt="" />
            <img src="/static/img/icon-pinterest.svg" alt="" />
        </div>
        <div class="menu">
            <a href="#">Про нас</a>
            <a href="#">Свяжитесь с нами</a>
            <a href="#">Блог</a>
        </div>
    </div>
</footer>

</body>
</html>
